#documents.gallery {
  .document {
    border-bottom: none;
	min-height: 250px;
    max-height: 250px;
	text-align: center;
  }
  
  .thumbnail {
    min-height: 203px;
    max-height: 203px;
	background-color: whitesmoke;
  }
  
  .index_title {
    width: 100%;
  }

  .document-counter {
    display: none;
  }
  
  .button {
    position: absolute;
	bottom: 0px;
	border-top: 1px solid whitesmoke;
  }

  .index-document-functions {
    clear: left;
  }
}

.view-icon-gallery {
  &:before { content: "\e011"; } 
}